*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}
.row{
  margin: 15px;
	position: relative;
}
.row::after, .clearfix::after{
  content: "";
  clear: both;
  display: table;
}
[class*="col-"]{
	position: relative;
  width: 100%;
  float: none;
  padding: 0;
}
.m-0{
  margin: 0!important;
}
.p-0 {
	padding: 0!important;
}

.pl-0 {
	padding-left: 0!important;
}

.pr-0 {
	padding-right: 0!important;
}
@media only screen and (min-width: 600px){
  [class*="col-"]{
    float: left;
    padding: 15px;
  }
  .col-1-s{width: 8.33%;} 
  .col-2-s{width: 16.66%;}
  .col-3-s{width: 25%;} 
  .col-4-s{width: 33.33%;} 
  .col-5-s{width: 41.66%}
  .col-6-s{width: 50%;}
  .col-7-s{width: 58.33%;}
  .col-8-s{width: 66.66%;}
  .col-9-s{width: 75%;}
  .col-10-s{width: 83.33%;}
  .col-11-s{width: 91.66%;}
  .col-12-s{width: 100%;}
}
@media only screen and (min-width: 768px){
  .col-1{width: 8.33%;} 
  .col-2{width: 16.66%;}
  .col-3{width: 25%;} 
  .col-4{width: 33.33%;} 
  .col-5{width: 41.66%}
  .col-6{width: 50%;}
  .col-7{width: 58.33%;}
  .col-8{width: 66.66%;}
  .col-9{width: 75%;}
  .col-10{width: 83.33%;}
  .col-11{width: 91.66%;}
  .col-12{width: 100%;}
}