body{
  /*cursor: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/sushi_1f363.png"), auto;*/
  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 0, 0, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}
::selection{
  background: #ffcf1b;
  color: white;
}
h1, h2{
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  margin: 0;
}
h1{
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 15.654321px;
}
h2{
  font-size: 30px;
  padding-bottom: 10.654321px;
}
form section:not(:last-of-type){
  border: 1px solid #ccc;
  padding: 10px 15px;
}
a {
  position: relative;
  display: inline-block;
  transition: all .321s;
  text-decoration: none;
	font-weight: 600;
  color: #000;
}

a::after { /* Border bottom - hidden while not hovered */
  position: absolute;
  bottom: .3em;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  transition: all .321s;
}

a:hover, a:hover::after {
  color: #000;
}

a:hover::after { /* Show bottom border */
  bottom: 0;
  opacity: 1;
}
aside.menu{
  padding: 15px 15px 25px;
  margin-bottom: 25px;
  position: relative;
  top: 0;
  background: #ffcf1b;
  background: linear-gradient(#ff881b, #ffcf1b 75%);

}





























@media only screen and (min-width: 600px){
  aside.menu{
    position: sticky!important;
  }
}